@font-face {
	font-family: 'Colus';
	src: url('../fonts/Colus/Colus-Regular.woff2') format('woff2');
	font-weight: 1;
	font-style: normal;
}
body {
	
	font-family: 'Colus';
	padding: 0;
    margin: 0;
}

header {
	border-bottom: 2px #8d8d8d solid;
	background-color: #2c2c2c;
 background-color: #8bb38d;
}
a {
	text-decoration: none;
}

a:hover {
    color: #f00;
}
h1 {
    color: #00e7ff;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}
h2 {
    color: #00e7ff;
}

.logo a {
	color: #ffffff;
}

.main {
    background-color: rgb(255, 255, 255);
    /*background-image: url('/fon/cvet.jpg');*/
    background-repeat: no-repeat;
}

.content-line {
	width: 100%;
}
.content-area {
	max-width: 1140px;
	margin-right: auto;
    margin-left: auto;
}

.logo {
	width: 100%;
	font-size: 80px;
}
.logo img {
	max-width: 150px;
	height: auto;
	vertical-align: middle;
}

ul.products {
	display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-top: 50px;
    padding-left: 0;
}
li.product {
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    float: left;
    margin: 0 3.8% 2.992em 0;
    padding: 0;
    position: relative;
    width: 22.05%;
    margin-left: 0;
}
.product_info h3 {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: 14px !important;
    text-align: center;
}
ul.products li.product .prod_link img {
    margin-bottom: 0;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    outline: 2px solid #553c2c;
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;

    width: 100%;
    height: auto;
    display: block;
    margin: 0 0 1em;
    box-shadow: none;
    margin-bottom: 0;
}
.prod_link {
    cursor: pointer;
}
ul.products li.product:hover .prod_link img {
    outline: 2px solid #ffb585;
    outline: 2px solid rgb(51 255 0);
}
li.product:nth-child(4n) {
	margin-right: 0;
}
.img_prod {
	display: block;
}
.product_info h2 {
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin-top: 14px !important;
}
.product_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

ul.products li.product .button {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: transparent;
    z-index: 10;
}

.quantity {
    margin: auto;
}
.quantity .qty {
    width: 30px;
    padding: 5px;
    text-align: center;
    min-height: 30px;
}
.quantity .qty {
    padding: 0;
    line-height: normal;
    font-size: 14px;
    height: 30px;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    border:0 solid #000;
}
.quantity .qty, .quantity button.plus, .quantity button.minus {
    float: left;
    /*border: 2px solid #1db702;*/
    background-color: transparent;
    color: #000000;
}
div.product div.quantity {
    display: inline-block;
    margin: 0 5px 0 0;
}
.quantity button.plus, .quantity button.minus {
    padding: 0;
    line-height: normal;
    font-size: 14px;
    height: 30px;
    -webkit-transition: all 0.25s;
    -o-transition: all 0.25s;
    transition: all 0.25s;
    cursor: pointer;
}

.quantity input.qty::-webkit-outer-spin-button,
.quantity input.qty::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.quantity button.minus, .quantity button.plus {
    min-width: 30px;
    border-radius: 15px;
    border: 2px solid #1db702;
}
.quantity button.minus:hover, .quantity button.plus:hover {
    background-color: #73ff59;
}
.quantity button.minus {
    /*border-right: none;*/
}
.quantity button.plus {
    /*border-left: none;*/
}

ul.products li.product:hover a .name_prod {
    color: rgb(187, 112, 0);
    color: rgb(51 255 0);
}
ul.products li.product:hover a .price_loop {

}
.name_prod {
	color: #e1e1e1;
	color: #459f3a;
}
ul.products li.product:hover .name_prod {
    color: rgb(51 255 0);
}
.price_loop {
	color: #ff7800;
	color: #00d3ac;
}

.add_to_cart_icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 36px;
    height: 36px;
    border: 1px solid var(--color-accent);
    margin-top: 0px;
    margin-left: auto;
    margin-right: 0px;
    z-index: 0;
    -webkit-transition: all 0.35s;
    -o-transition: all 0.35s;
    transition: all 0.35s;
    position: relative;
    background-color: transparent;
    border: #ffd180 1px solid;
    z-index: 5;
}
.add_to_cart_icon:before {
	content: "\f64e";
	font-family: uicons-bold-straight!important;
	font-style: normal;
	font-weight: normal !important;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	color: #ffd180;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
.add_to_cart_icon:hover {
    background-color: rgba(195, 171, 4, 1);
}
.add_to_cart_icon:hover::before {
    color: #ffffff;
}

footer {
	background-color: #7e7e7e;
	min-height: 70px;
	border-top: 2px #8d8d8d solid;
}
footer .container {
	padding-top: 50px;
	padding-bottom: 50px;
	color: #ffffff;
}

/* основное меню */
.content-line.menu {
    background: #008000;
}

.nav_menu {
    width: 100%;
    display: table;
    
}
.nav_menu ul {
    display: table-row;
}
.nav_menu li {
    display: block;
    float: left;
    background: #008000;
    position: relative;
}
.nav_menu li.menu_cart {
    float: right;
}
.nav_menu ul li:hover {
    background: #08fb04;
    
}
.nav_menu ul li:hover a {
    color: #f00;
}
.nav_menu li a {
    display: block;
    padding: 20px 15px;
    color: #fff;
    text-align: center;
}

.menu_cart {

}
.site-header-cart {
    position: relative;
    margin: 0;
    padding: 0;
    content: "";
    display: table;
    table-layout: fixed;
}


/*
.menu_cart:before {
    content: "\f64a";
    font-family: uicons-bold-straight!important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    color: #ffd180;

    width: 30px;
    height: 30px;
    position: absolute;
    top: 3px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    font-size: 30px;
}*/
.menu_cart a {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.menu_cart a img {
    height: 30px !important;
}
.content-line.menu-line .content-area {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}
.content-line.menu-line .content-area > div {

}
.cart-content .count {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-weight: 700;
    min-width: 30px;
    min-height: 30px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 2px;
    border-style: solid;
    border-radius: 0px 0px 5px 5px;
}
.cart-content .count:after {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    top: -9px;
    left: 50%;
    bottom: 100%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    pointer-events: none;
    border-width: 2px;
    border-style: solid;
    border-radius: 10px 10px 0 0;
    border-bottom: 0;
}
a.cart-content {
    color: #fff;
}
a.cart-content:hover {
    color: #f00;
}
/* для элемента input c class="checkbox" */
li.product .checkbox {
    position: absolute;
    top: 10px;
    left: 10px;
}
/* для элемента input c type="checkbox" */
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

/* для элемента label, связанного с .custom-checkbox */
.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

/* создание в label псевдоэлемента before со следующими стилями */
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

/* стили при наведении курсора на checkbox */
.custom-checkbox:not(:disabled):not(:checked)+label:hover::before {
  border-color: #b3d7ff;
}

/* стили для активного чекбокса (при нажатии на него) */
.custom-checkbox:not(:disabled):active+label::before {
  background-color: #b3d7ff;
  border-color: #b3d7ff;
}

/* стили для чекбокса, находящегося в фокусе */
.custom-checkbox:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/* стили для чекбокса, находящегося в фокусе и не находящегося в состоянии checked */
.custom-checkbox:focus:not(:checked)+label::before {
  border-color: #80bdff;
}

/* стили для чекбокса, находящегося в состоянии checked */
.custom-checkbox:checked+label::before {
  border-color: #19ef0b;
  background-color: #19ef0b;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* стили для чекбокса, находящегося в состоянии disabled */
.custom-checkbox:disabled+label::before {
  background-color: #e9ecef;
}



/* корзина */
.cart_prod > div {
    /*float: left;*/
    margin-right: 20px;
}
.cart_prod {
    width: 100%;
    display: inline-block;
    padding-bottom: 25px;
}
.cart_prod:nth-child(2n+1) {

}
.img_prod_cart {
    width: 80px;
    height: 80px;
}
.img_prod_cart {
    float: left;
}
.cart_info {
    float: left;
}
.img_prod_cart img {
    margin-bottom: 0;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    outline: 2px solid #553c2c;
    transition: all 0.35s;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 0 1em;
    box-shadow: none;
    margin-bottom: 0;
}

.cart_prods .cart_info {
    width: 150px;
}

.cart_prods {
    /*display: inline-block;*/
    margin-bottom: 50px;
}
.itog_block {
    margin-top: 20px;
    border-top: solid #000 2px;
    padding: 20px;
    font-size: 30px;
    color: #ff0000;
}
.title_str {
    background-color: #145200;
}
.line-grad-h {
    height: 7px;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,255,255,1) 100%);
}


/* Группа кнопок в корзине для роз */
.form_radio_group {
    display: inline-block;
    overflow: hidden;
}
.form_radio_group-item {
    display: inline-block;
    float: left;    
}
.form_radio_group input[type=radio] {
    display: none;
}
.form_radio_group label {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    line-height: 34px;
    border: 1px solid #999;
    border-right: none;
    user-select: none;
}
 
.form_radio_group .form_radio_group-item:first-child label {
    border-radius: 6px 0 0 6px;
}
.form_radio_group .form_radio_group-item:last-child label {
    border-radius: 0 6px 6px 0;
    border-right: 1px solid #999;
}
 
/* Checked */
.form_radio_group input[type=radio]:checked + label {
    background: #ffe0a6;
}
 
/* Hover */
.form_radio_group label:hover {
    color: #666;
}
 
/* Disabled */
.form_radio_group input[type=radio]:disabled + label {
    background: #efefef;
    color: #666;
}